@import url('https://fonts.googleapis.com/css2?family=Radley&display=swap');

.question-text{
    color: rebeccapurple;
}

.question-container{
    color: green;
}

.question-div{
    font-family: 'Radley', serif;
    font-size: 30px;
    background-color:gold;
    border-radius: 15px;
    border-color: black;
    border: 1px dotted;
    padding: 10px;
    margin: 25px;
    height: 25%;
    width: 75%;
    box-shadow: 5px 10px #888888;
}

.main-title{
    border-radius: 25px;
    padding: 25px 100px 25px 100px;
    background-color: white;
    max-width: fit-content;
    font-size: 40px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #c4b427;
    font-weight: 700;
    text-decoration: underline solid rgb(191, 194, 5);
    font-style: normal;
    font-variant: small-caps;
    text-transform: lowercase;
}

.main-subtitle{
    font-size: 20px;
    letter-spacing: 2px;
    word-spacing: 15px;
    color: #3952a7;
    font-weight: 700;
    text-transform: lowercase;
}

button{
    display: block;
    margin: 10px;
}

html {
    min-height: 100%;
    background:url(http://i.epvpimg.com/Lb4aeab.jpg);
    background-size:cover;
    box-shadow:inset 0 0 0 2000px rgba(58, 58, 58, 0.288);
  }

  /* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #88860162; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(203, 206, 16); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(184, 151, 5); 
  }